POSTGRES_DB=transitpulse_change_me
POSTGRES_USER=transitpulse_change_me
POSTGRES_PASSWORD=transitpulse_change_me
POSTGRES_PORT=5432

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/transitpulse_change_me
SPRING_DATASOURCE_USERNAME=transitpulse_change_me
SPRING_DATASOURCE_PASSWORD=transitpulse_change_me
